.navigation-footer
  display: grid
  grid-template-columns: minmax(auto, 10%) minmax(160px, 21%) minmax(130px, 14%) minmax(130px, 14%) minmax(130px, 14%) minmax(280px, auto)
  grid-template-rows: auto
  max-width: 1920px
  min-width: 320px
  background: #FFFFFF
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1)
@media screen and ( max-width: 900px )
  .navigation-footer
    grid-template-columns: minmax(auto, 3%) minmax(160px, auto) minmax(130px, auto) minmax(130px, auto) 
    grid-template-rows: 1fr 1fr 

.footer-logo-title-wrapper
  grid-column-start: 2
  grid-column-end: 3

.footer-title
  display: inline-block
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  padding-top: 13px
  width: 260px
.footer-navigation-wrapper
  padding:
    top: 5px
.information-about-us-wrapper
  padding:
    top: 5px

.support-block-wrapper
  padding:
    top: 5px
@media screen and ( max-width: 900px )
  .support-block-wrapper  
    grid-column: 2/3
    grid-row: 2/3

.footer-subscription-wrapper
  padding:
    left: 2px
    top: 5px
@media screen and ( max-width: 900px )
  .footer-subscription-wrapper
    grid-column: 3/4
    grid-row: 2/3

.subscription-block
  display: flex
  flex-direction: column
  width: 280px
.subscription-block__heading
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041
.subscription-block__text
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  padding-top: 17px
  width: 260px