.navigation-footer
  display: grid
  grid-template-rows: auto
  grid-template-columns: 9% 20% 16% 14% 14% 27%
  max-width: 1920px
  min-width: 320px
  background: #FFFFFF
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1)
  padding:
    top: 100px
    bottom: 100px
.footer-logo-title-wrapper
  grid-column-start: 2
  grid-column-end: 3
  padding-left: 13px
.footer-title
  display: inline-block
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  padding-top: 15px
  letter-spacing: 1px
.footer-navigation-wrapper
  padding:
    left: 27px
    top: 5px
.information-about-us-wrapper
  padding:
    top: 5px
.support-block-wrapper
  padding:
    top: 5px
.footer-subscription-wrapper
  padding:
    left: 2px
    top: 5px
.subscription-block
  display: flex
  flex-direction: column
  width: 280px
.subscription-block__heading
  font:
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041
  letter-spacing: 1px
.subscription-block__text
  font:
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  padding-top: 18px
  width: 260px
  letter-spacing: 1.1px