footer.navigation-footer
  div.footer-logo-title-wrapper
    include ../footer-logo-title/footer-logo-title.pug
  div.footer-navigation-wrapper
    include ../footer-navigation/footer-navigation.pug
  div.information-about-us-wrapper
    include ../footer-information-about-us/information-about-us.pug
  div.support-block-wrapper
    include ../footer-support/support-block.pug
  div.footer-subscription-wrapper
    include ../footer-subscription/subscription-block.pug
