.expandable-checkbox-list
  display: inline-block
  width: 266px 
  padding:
    left: 31px
    top: 6px
.expandable-checkbox-list__text
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041
  cursor: pointer
  &::after
    content: url(../src/modules/expandable-checkbox-list/img/expand_more.png)
    padding-left: 30px
.expandable-checkbox-list_opening-list::after
  content: url(../src/modules/expandable-checkbox-list/img/expand_more-top.png)
  padding-left: 30px