include ../mixin-checkbox-buttons/mixin-checkbox-buttons.pug
//div.expandable-checkbox-list
  span.expandable-checkbox-list__text дополнительные удобства
span.expandable-checkbox-list__text.js-expandable-checkbox-list__text.expandable-checkbox-list_opening-list дополнительные удобства
div.expandable-checkbox-list.js-expandable-checkbox-list
  +checkbox-buttons("Завтрак")(class="checkbox-label")
  +checkbox-buttons("Письменный стол", "checked")(class="checkbox-label")
  +checkbox-buttons("Стул для кормления", "checked")(class="checkbox-label")
  +checkbox-buttons("Кроватка", "checked")(class="checkbox-label")
  +checkbox-buttons("Телевизор")(class="checkbox-label")
  +checkbox-buttons("Шампунь")(class="checkbox-label")