header.header-user-name
  div.header-user-name-logo-wrapper
    include ../logo/logo.pug
  div.header-user-name-nav-wrapper.nav-wrapper_margin-left
    include ../header-nav/nav.pug
  div.nav-wrapper-navBurger
    include ../navBurger/navBurger.pug
  div.user-name-wrapper.user-name-wrapper_margin-left
    include ../user-name/user-name.pug