header.header-user-name
  div.logo-wrapper
    include ../logo/logo.pug
  div.nav-wrapper.nav-wrapper__margin-left
    include ../header-nav/nav.pug
  div.user-name-wrapper.user-name-wrapper__margin-left
    include ../user-name/user-name.pug