div.landing-page
  div.landing-page-header-wrapper
    include ../header/header.pug
  div.landing-page-number-selection-wrapper
    include ../number-selection/number-selection.pug
  div.landing-page-title-wrapper
    span.landing-page-title Лучшие номера для вашей работы, отдыха и просто вдохновения
footer.landing-page-navigation-footer-wrapper
  include ../navigation-footer/navigation-footer.pug
footer.landing-page-footer-full-wrapper
  include ../footer-full/footer-full.pug