.landing-page
  display: grid
  grid-template-columns: repeat(20, 5%)
  grid-template-rows: repeat(20, 5%)
  max-width: 1920px
  min-width: 320px
  background-image: url("modules/landing-page/img/background-landing-page.jpg")
  height: 900px
.landing-page-header-wrapper
  position: absolute
  width: 100%
.landing-page-number-selection-wrapper
  grid-column: 2/8
  grid-row: 4/13
  width: 400px
  height: 400px
  margin: 
    top: 5px
    left: 69px
.landing-page-title-wrapper
  grid-column-start: 15
  grid-column-end: 19
  grid-row-start: 19
  grid-row-end: 21
  width: 311px
  margin: 
    top: 22px
  text-align: right
.landing-page-title
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
.landing-page-footer-full-wrapper
  border-top: 1px solid rgba(31, 32, 65, 0.01)

   
  
