mixin radio-buttons(name,id,connection)
  div.radio-buttons-wrapper.js-radio-buttons-wrapper
    input(id=id type="radio" name="choice" class="radio-buttons-input")
    label(class!=attributes.class for=connection)=name
    div.radio-buttons-input-background.js-radio-buttons-input-background