div.nav 
  a.nav__item.nav__item_margin-left(href="index.html") О нас
  div.wrapperImgLink
    a.nav__item(href="index.html") Услуги
    img.nav_item.nav__item_margin-less(src=require("/modules/all-header/header-nav/image/arrow-to-down.png") alt="img")  
  a.nav__item(href="index.html") Вакансии
  a.nav__item(href="index.html") Новости
  div.wrapperImgLink
    a.nav__item(href="index.html") Соглашения 
    img.nav_item.nav__item_margin-left(src=require("/modules/all-header/header-nav/image/arrow-to-down.png") alt="img")
