doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link rel="icon" href="src/favicon.ico" /> 
    title Document
  body
    div.page-login
      div.page-login-header-wrapper
        include ../../all-header/header/header.pug
      div.page-login-form-login-wrapper
        include ../../form-login/form-login.pug
    footer.page-login-navigation-footer-wrapper
      div.page-login-navigation-footer-block
        include ../../all-footer/navigation-footer/navigation-footer.pug
    footer.page-login-footer-full-wrapper
      include ../../all-footer/footer-full/footer-full.pug