include ../mixin-number-reviews/mixin-number-reviews.pug
include ../mixin-rate-button/rate-button.pug
div.card-slider
  div.card-slider__img-wrapper
    ul.card-slider__cicle-wrapper
      li.card-slider__cicle
      li.card-slider__cicle
      li.card-slider__cicle
      li.card-slider__cicle
    img.card-slider__arrow-right(src="./src/modules/card-slider/img/arrow-right.png" alt="img")
    img.card-slider__arrow-left(src="./src/modules/card-slider/img/arrow-left.png" alt="img")
    img.card-slider__img( src="./src/modules/card-slider10/img/card-image10.jpg" alt="img")
    img.card-slider__img( src="./src/modules/card-slider/img/card-image.jpg" alt="img")
    img.card-slider__img( src="" alt="img")
    img.card-slider__img( src="" alt="img")
  div.card-slider__characteristics-wrapper
    span.card-slider__number № 888<span class="card-slider__category">люкс</span>
    span.card-slider__sum 9 900₽ в сутки
  div.card-slider__reviews-wrapper
    +rate-button("src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png")(class="rate-button__img")
    +number-reviews("145", "Отзывов")