include mixin-button-click-me/button-click-me.pug
include mixin-button-click-background/mixin-button-click-background.pug
include mixin-click-me/mixin-click-me.pug
include mixin-wide-button/mixin-wide-button.pug
include mixin-checkbox-buttons/mixin-checkbox-buttons.pug
include mixin-input-wide-field/mixin-input-wide-field.pug
include mixin-date-dropdown/mixin-date-dropdown.pug
include mixin-radio-buttons/radio-buttons.pug
include mixin-room-details/mixin-room-details.pug
include mixin-input-narrow-field/mixin-input-narrow-field.pug
include mixin-rate-button/rate-button.pug
include mixin-bullet-list/bullet-list.pug
+button-click-me('CLICK ME')(class="button-click-me")
+button-click-me('CLICK ME')(class="button-click-me button-click-me_opacity")
div.button-click-background-wrapper <!--при экспорте на страницу забрать вместе с button-->
  +button-click-background('CLICK ME')(class="button-click-background")
div.button-click-background-wrapper.button-click-background_opacity  <!--при экспорте на страницу забрать вместе с button-->
  +button-click-background('CLICK ME')(class="button-click-background")
+click-me('index.html', 'CLICK ME')(class="click-me")
+click-me('index.html', 'CLICK ME')(class="click-me click-me_color")
+wide-button('перейти к оплате')(class="wide-button")
include pagination/pagination.pug
include range-slider/range-slider.pug
+checkbox-buttons("Можно курить")(class="checkbox-label")
+checkbox-buttons("Можно с питомцами", "checked")(class="checkbox-label")
+checkbox-buttons("Можно пригласить гостей (до 10 человек)", "checked")(class="checkbox-label")
+input-wide-field("Email","Email")(class="input-wide-field")
+input-wide-field("text","This is pretty awesome")(class="input-wide-field")
include dropdown-wide/dropdown-wide.pug
include dropdown-wide/dropdown-wide-table.pug
+input-wide-field("number","ДД.ММ.ГГГГ")(class="input-wide-field")
+date-dropdown("number", "ДД.ММ.ГГГГ")(class="date-dropdown")
+date-dropdown("number", "19.08.2019")(class="date-dropdown")
+radio-buttons("Мужчина", "man","man")(class="radio-buttons radio-buttons_color-black")
+radio-buttons("Женщина", "woman","woman")(class="radio-buttons")
include toggle/toggle.pug
include toggle/faint-copy-toggle.pug
include like-button/like-button.pug
include like-button/faint-copy-like-button.pug
ul.wrapper
  +bullet-list("Нельзя с питомцами")(class="bullet-list")
  +bullet-list("Без вечеринок и мероприятий")(class="bullet-list")
  +bullet-list("Время прибытия — после 13:00,а выезд до 12:00")(class="bullet-list")
include expandable-checkbox-list/expandable-checkbox-list.pug
include rich-heckbox-buttons/rich-heckbox-buttons.pug
+room-details("src/modules/mixin-room-details/img/insert_emoticon.png", "Комфорт","Шумопоглощающие стены")
+room-details("src/modules/mixin-room-details/img/location_city.png", "Комфорт","Шумопоглощающие стены")

+input-narrow-field("email", "Email")(class="narrow-field-block__input narrow-field-block__input_width-more")
include filter-date-dropdown-input/filter-date-dropdown.pug
+rate-button("src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star_border.png")(class="rate-button__img")
+rate-button("src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png")
include dropdown-less/dropdown-less.pug
include dropdown-less/dropdown-less-table.pug
include card-slider/card-slider.pug
include card-slider-arrow/card-slider-arrow.pug
include block-cancel/block-cancel.pug
ul.wrapper
  +bullet-list("Великолепно")(class="bullet-list")
  +bullet-list("Хорошо")(class="bullet-list")
  +bullet-list("Удовлетворительно")(class="bullet-list")
  +bullet-list("Разочарован")(class="bullet-list")