.pagination
  display: inline-block
.pagination-number
  display: grid
  grid-template-columns: repeat(6, 17%)
  grid-template-rows: 100%
  width: 238px
.number
  width: 40px
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 22px
  cursor: pointer
.number__item
  font:
    style: normal
    weight: normal
    size: 12px
  line-height: 15px
  text-align: center
  color: rgba(31, 32, 65, 0.5)
.number__item_color
  color: #FFFFFF
.number_color
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  color: #FFFFFF
.number_color-green
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
  margin-right: 10px
.pagination-text
  font:
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  word-spacing: -3px
  letter-spacing: 1px
  color: rgba(31, 32, 65, 0.75)
  padding: 
    top: 9px
    left: 1px