div.paginationjs(id="data-container")
  div.pagination(id="pagination-container")
  //-div.pagination-number
    div.number.js-number.number_color
      span.number__item.js-number__item.number__item_color 1
    div.number.js-number
      span.number__item 2
    div.number.js-number 
      span.number__item 3
    div.number.js-number
      span.number__item ...
    div.number.js-number
      span.number__item 15
    div.number.number_color-green.js-number_color-green
      img(src="../src/modules/pagination/img/arrow_forward_white.png" alt="img")
  //-div.pagination-text 1 – 12 из 100+ вариантов аренды