.pagination
  display: grid
  grid-template-columns: minmax(30px, 17%)
  grid-template-rows: 32px 38px 41px
  align-items: center
  max-width: 240px
  min-width: auto

.left-arrow-number-block
  display: inline-flex
  justify-content: center
  align-items: center
  width: 40px
  height: 40px
  grid-column: 1/2
  grid-row: 2/3
  color: rgba(31, 32, 65, 0.5)
  cursor: pointer
.left-arrow-number
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 12px
  line-height: 15px

.pagination-number-wrapper
  position: relative
  grid-column: 2/3
  grid-row: 2/3
  width: 80px
  height: 40px
  overflow: hidden

.pagination-number
  display: inline-block
  height: 40px
  position: absolute
  top: 0px

.number-slider
  display: inline-flex
  align-items: center
  grid-column: 3/4
  grid-row: 2/3
  
.number,.number__ellipsis,.number__max-number,
  width: 40px
  height: 40px
  display: inline-flex
  align-items: center
  justify-content: center
  cursor: pointer
  color: rgba(31, 32, 65, 0.5)

.number__item
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 12px
  line-height: 15px
  text-align: center
a
  color: inherit

.number_color
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  color: #FFFFFF
  border-radius: 22px

.number__color-green
  width: 40px
  height: 40px
  display: inline-flex
  align-items: center
  justify-content: center
  border-radius: 22px
  cursor: pointer
  color: rgba(31, 32, 65, 0.5)
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
  
.pagination-text
  display: flex
  justify-content: center
  grid-column: 1/4
  grid-row: 3/4
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)