mixin room-amenities(src,maneh2,maneh3)
  div.room-details-container
    img.room-details-container__img(src=src alt="img")
    h2.room-details-container__title=maneh2
    h3.room-details-container__text=maneh3