footer.footer-full
  div.footer-copyright-wrapper
    include ../../all-footer/footer-copyright/footer-copyright-text.pug
  div.social-media-icons-wrapper
    include ../../social-media-icons/social-media-icons.pug