div.all-pages
  div.all-pages-contains
    ul.all-pages-list
      li.all-pages-list__items
        a(href="index.html").all-pages-list__link ui-kit-form-elements
      li.all-pages-list__items
        a(href="index.html").all-pages-list__link landing-page
      li.all-pages-list__items
        a(href="index.html").all-pages-list__link page-login
      li.all-pages-list__items
        a(href="index.html").all-pages-list__link page-registration
      li.all-pages-list__items
        a(href="index.html").all-pages-list__link search-room
      li.all-pages-list__items
        a(href="index.html").all-pages-list__link room-details