div.all-pages
  div.all-pages-contains
    ul.all-pages-list
      li.all-pages-list__items
        a(href="./modules/all-pages/ui-kit-form-elements.html").all-pages-list__link ui-kit-form-elements
      li.all-pages-list__items
        a(href="./modules/all-pages/landing-page/landing-page.html").all-pages-list__link landing-page
      li.all-pages-list__items
        a(href="./modules/all-pages/page-login/page-login.html").all-pages-list__link page-login
      li.all-pages-list__items
        a(href="./modules/all-pages/page-registration/page-registration.html").all-pages-list__link page-registration
      li.all-pages-list__items
        a(href="./modules/all-pages/search-room/search-room.html").all-pages-list__link search-room
      li.all-pages-list__items
        a(href="./modules/all-pages/room-details/room-details.html").all-pages-list__link room-details