include ../all-button/mixin-small-button-background-present/mixin-small-button-background-present.pug
include ../all-button/mixin-button-click-background/mixin-button-click-background.pug
include ../all-button/mixin-button/mixin-small-button.pug
include ../all-button/mixin-small-button-no-background/mixin-small-button-no-background.pug
include ../all-button/mixin-wide-button/mixin-wide-button.pug
include ../mixin-checkbox-buttons/mixin-checkbox-buttons.pug
include ../mixin-input-wide-field/mixin-input-wide-field.pug
include ../mixin-date-dropdown/mixin-date-dropdown.pug
include ../mixin-radio-buttons/radio-buttons.pug
include ../mixin-room-amenities/mixin-room-amenities.pug
include ../mixin-input-narrow-field/mixin-input-narrow-field.pug
include ../mixin-pictures-stars/pictures-stars.pug
include ../mixin-bullet-list/bullet-list.pug
include ../all-button/mixin-like-button/mixin-like-button.pug
include ../mixin-dropdown-wide/dropdown-wide-table.pug
include ../mixin-user-name-picture/mixin-user-name-picture.pug
include ../mixin-review/mixin-review.pug

div.ui-kit-form-elements-wrapper
  div.block-wrapper
    +small-button-background-present('CLICK ME')(class="small-button-background-present")
  div.block-wrapper
    +button-click-background('CLICK ME')(class="button-click-background")
  div.block-wrapper
    +small-button-no-background('index.html', 'CLICK ME')(class="small-button-no-background")
  div.block-wrapper
    +wide-button('перейти к оплате')(class="wide-button")
  div.block-wrapper
    include ../pagination/pagination.pug
  div.block-wrapper
    include ../range-slider/range-slider.pug
  div.block-wrapper
    +checkbox-buttons("Можно курить")(class="checkbox-label")
    +checkbox-buttons("Можно с питомцами", "checked")(class="checkbox-label")
    +checkbox-buttons("Можно пригласить гостей (до 10 человек)", "checked")(class="checkbox-label")
  div.block-wrapper
    +input-wide-field("Email","Email")(class="input-wide-field")
    +input-wide-field("text","This is pretty awesome")(class="input-wide-field input-wide-field_focus-hover")
  div.block-wrapper
    +input-wide-field("text","ДД.ММ.ГГГГ")(class="input-wide-field ")
  div.block-wrapper
    +date-dropdown("text", "ДД.ММ.ГГГГ")(class="date-dropdown ")
    +date-dropdown("text", "19.08.2019")(class="date-dropdown ")
  div.block-wrapper
    include ../filter-date-dropdown-input/filter-date-dropdown.pug
  div.block-wrapper
    +radio-buttons("Мужчина", "man","man")(class="radio-buttons radio-buttons_color-black")
    +radio-buttons("Женщина", "woman","woman")(class="radio-buttons")
  div.block-wrapper
    include ../toggle/toggle.pug
  div.block-wrapper
    +like-button(require("/modules/all-button/mixin-like-button/img/favorite_border.png"), 11)
  div.block-wrapper
    include ../expandable-checkbox-list/expandable-checkbox-list.pug
  div.block-wrapper
    include ../rich-heckbox-buttons/rich-heckbox-buttons.pug
  div.block-wrapper
    +room-amenities(require("/modules/mixin-room-amenities/img/insert_emoticon.png"), "Комфорт","Шумопоглощающие стены")
    +room-amenities(require("/modules/mixin-room-amenities/img/location_city.png"), "Комфорт","Шумопоглощающие стены")
  div.block-wrapper
    +input-narrow-field("email", "Email")(class="narrow-field-block__input narrow-field-block__input_width-more")
  div.block-wrapper
    +pictures-stars(require("/modules/mixin-pictures-stars/img/star.png"), require("/modules/mixin-pictures-stars/img/star.png"), require("/modules/mixin-pictures-stars/img/star.png"), require("/modules/mixin-pictures-stars/img/star.png"), require("/modules/mixin-pictures-stars/img/star_border.png"))(class="rate-button__img")
    +pictures-stars(require("/modules/mixin-pictures-stars/img/star.png"), require("/modules/mixin-pictures-stars/img/star.png"), require("/modules/mixin-pictures-stars/img/star.png"), require("/modules/mixin-pictures-stars/img/star.png"), require("/modules/mixin-pictures-stars/img/star.png"))
  div.block-wrapper-width-less
    +dropdown-wide(class="dropdown-wide__table_width-more")
  div.block-wrapper
    include ../dropdown-less/dropdown-less-table.pug
  div.block-wrapper
    include ../card-slider-folder/card-slider1/card-slider.pug
  div.block-wrapper
    include ../card-slider-folder/card-slider-main/card-slider-main.pug
  div.block-wrapper
    div.wrapper-bullet-list-block
      +bullet-list("Нельзя с питомцами")(class="bullet-list-block bullet-list-block_margin-right")
      +bullet-list("Без вечеринок и мероприятий")(class="bullet-list-block bullet-list-block_margin-right")
      +bullet-list("Время прибытия — после 13:00, а выезд до 12:00")(class="bullet-list-block bullet-list-block_margin-right")
  //include props/props.pug
div.ui-kit-components-wraper
  div.room-details-info__reviews-block-grid
    div.reviews__wrapper
      +user-name-picture(require("/modules/mixin-user-name-picture/img/image-user1.png"), "Мурад Сарафанов","5 дней назад")
    div.reviews__like-wrapper
      +like-button(require("/modules/all-button/mixin-like-button/img/favorite_border.png"), 11)
    div.reviews__text-wrapper
      +review("Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
  include ../number-selection/number-selection.pug
  include ../form-number-selection-total/form-number-selection-total.pug
  include ../form-login/form-login.pug
  include ../form-registration/form-registration.pug
  include ../all-header/header/header.pug
  include ../all-header/header-user-name/header-user-name.pug
  include ../all-footer/navigation-footer/navigation-footer.pug
  include ../all-footer/footer-full/footer-full.pug
  include ../all-footer/footer-rectangle/footer-rectangle.pug
