include ../mixin-wide-button/mixin-wide-button.pug
include ../mixin-date-dropdown/mixin-date-dropdown.pug
include ../mixin-dropdown-wide/dropdown-wide-table.pug
div.number-selection-copy
  form.form-number-selection
    div.number-selection-wrapper-copy
      div.room-number-rate-wrapper
        div.room-number
          span.room-number__sign № 
          span.room-number__number 888
          span.room-number__category люкс
        div.room-rate
          span.room-rate__sum 9 990₽ 
          span.room-rate__title в сутки
      div.number-selection__input-left-wrapper-copy
        label(class="number-selection__label-copy" ) прибытие
        +date-dropdown("text" , "19.08.2019","start")(class="date-dropdown") 
      div.number-selection__input-right-wrapper-copy
        label(class="number-selection__label-copy" ) выезд
        +date-dropdown("text", "23.08.2019", "end")(class="date-dropdown") 
      div.number-selection__input-lower-wrapper-copy
        label(class="number-selection__label-copy" ) гости
        +dropdown-wide()(class="dropdown-wide__table_width-more")
      div.room-charge
        div.number-amount
          span.number-amount__total-number 9 990₽ х 4 суток
          span.number-amount__multiplied-sum-number 39 960₽
        div.service-charge
          span.service-charge__text Сбор за услуги: скидка 2 179₽
          div.service-charge__info
            span.service-charge__sign i
          span.service-charge__sum 0₽
        div.additional-services
          span.additional-services__text Сбор за дополнительные услуги
          div.additional-services__info
            span.additional-services__sign i
          span.additional-services__sum 300₽
        div.total-number
          span.total-number__text Итого
          div.total-number__border
          span.total-number__sum 38 081₽
      div.number-selection__item-button-wrapper-copy
          +wide-button('забронировать')(class="wide-button")