div.range-slider
  div.sum-block
    h2.range-slider-title диапазон цены
    div.range-slider__sum
      span.sum-left 5 000₽
      span.hyphen -
      span.sum-right 10 000₽
  div.band-container
    div.band-border
      div.band-border__left
      div.band-border__right
  span.range-slider-text Стоимость за сутки пребывания в номере
  div.range-slider-tablo
    input(class="range-slider-tablo__number-min" type="number")
    input(class="range-slider-tablo__number-max" type="number")
    button(class="range-slider-tablo__button") применить