input(id="inputCalendar" type="text" class="datepicker-here" data-multiple-dates-separator=", " data-range= "true" )
input(type='text' class='datepicker-here' data-multiple-dates="2"
    data-multiple-dates-separator=", "
    data-position='right top') 