.number-selection
  display: inline-block
  width: 380px
  height: 374px
  background: #FFFFFF
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
.number-selection-wrapper
  height: 374px
  display: grid
  grid-template-rows: 10% 22% 22% 26% 20%
  grid-template-columns: 8% 45% 43% 4%
.number-selection__title-wrapper
  grid-row: 2/3
  grid-column: 2/4
  
.number-selection__title
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 24px
  line-height: 29px
  color: #1F2041

.number-selection__input-left-wrapper
  grid-row: 3/4
  grid-column: 2/3
  
.number-selection__label
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041
  display: block
  padding-bottom: 5px
.number-selection__input-right-wrapper
  grid-row: 3/4
  grid-column: 3/4
  
.number-selection__input-lower-wrapper
  grid-row: 4/5
  grid-column: 2/4
  width: 320px
  
.number-selection__item-button-wrapper
  grid-row: 5/6
  grid-column: 2/4

.dropdown-wide_width-more
  width: 320px