include ../mixin-input-wide-field/mixin-input-wide-field.pug
include ../mixin-date-dropdown/mixin-date-dropdown.pug
include ../all-button/mixin-wide-button/mixin-wide-button.pug
include ../mixin-dropdown-wide/dropdown-wide-table.pug
div.number-selection
  form
    div.number-selection-wrapper
      div.number-selection__title-wrapper
        h2.number-selection__title Найдём номера под ваши пожелания
      div.number-selection__input-left-wrapper
        label(class="number-selection__label" ) прибытие
        +date-dropdown("text" , "ДД.ММ.ГГГГ","start")( class="date-dropdown") 
      div.number-selection__input-right-wrapper
        label(class="number-selection__label" ) выезд
        +date-dropdown("text", "ДД.ММ.ГГГГ","end")(class="date-dropdown") 
      div.number-selection__input-lower-wrapper
        label(class="number-selection__label" ) гости
        +dropdown-wide()(class="dropdown-wide_width-more")
      div.number-selection__item-button-wrapper
          +wide-button('подобрать номер')(class="wide-button")