include ../mixin-input-wide-field/mixin-input-wide-field.pug
include ../mixin-date-dropdown/mixin-date-dropdown.pug
include ../mixin-wide-button/mixin-wide-button.pug
include ../mixin-dropdown-wide/dropdown-wide-table.pug
div.number-selection
  form
    div.number-selection-wrapper
      div.number-selection__title-wrapper
        h2.number-selection__title Найдём номера под ваши пожелания
      //div.room-number
        span.room-number__sign № 
        span.room-number__number 888
        span.room-number__category люкс
      //div.room-rate
        span.room-rate__sum 9 990₽ 
        span.room-rate__title в сутки
      div.number-selection__input-left-wrapper
        label(class="number-selection__label" ) прибытие
        +date-dropdown("number" , "ДД.ММ.ГГГГ")(class="date-dropdown") 
      div.number-selection__input-right-wrapper
        label(class="number-selection__label" ) выезд
        +date-dropdown("number", "ДД.ММ.ГГГГ")(class="date-dropdown") 
      div.number-selection__input-lower-wrapper
        label(class="number-selection__label" ) гости
        +dropdown-wide()(class="dropdown-wide_width-more")
      //div.room-charge
        div.number-amount
          div.number-amount__total-number 9 990₽ х 4 суток
          div.number-amount__multiplied-sum-number 39 960₽
        div.service-charge
          span.service-charge__text Сбор за услуги: скидка 2 179₽
          div.service-charge__info
            span.service-charge__sign i
          span.service-charge__sum 0₽
        div.additional-services
          span.additional-services__text Сбор за дополнительные услуги
          div.additional-services__info
            span.additional-services__sign i
          span.additional-services__sum 300₽
        div.total-number
          span.total-number__text Итого
          div.total-number__border
          span.total-number__sum 38 081₽
      div.number-selection__item-button-wrapper
          +wide-button('подобрать номер')(class="wide-button")