include ../mixin-input-wide-field/mixin-input-wide-field.pug
include ../all-button/mixin-wide-button/mixin-wide-button.pug
include ../all-button/mixin-button-click-background/mixin-button-click-background.pug
include ../mixin-radio-buttons/radio-buttons.pug
form.form-registration-wrapper
  div.form-registration
    div.form-registration__title-wrapper
      h2.form-registration-title Регистрация аккаунта
    div.input-name-wrapper
      +input-wide-field("text" , "Имя")(class="input-wide-field") 
    div.input-surname-wrapper
      +input-wide-field("text" , "Фамилия")(class="input-wide-field")
    div.input-radio-wrapper-left
      +radio-buttons("Мужчина", "man","man")(class="radio-buttons ")
    div.input-radio-wrapper-right
      +radio-buttons("Женщина", "woman","woman")(class="radio-buttons ")
    div.input-date-wrapper
      label.input-date__label(for="") дата рождения
        +input-wide-field("text" , "ДД.ММ.ГГГГ")(class="input-wide-field input-wide-field_margin-top datepicker-here js-input-wide-field")
    div.input-login-wrapper
      label.input-date__label(for="") данные для входа в сервис
        +input-wide-field("email" , "Email")(class="input-wide-field input-wide-field_margin-top")
        +input-wide-field("text" , "Пароль")(class="input-wide-field input-wide-field_margin-top-more")
    div.notifications-wrapper
      include ../toggle/toggle.pug
    div.form-registration__button-narrow-wrapper
      +wide-button('зарегистрироваться')(class="wide-button")
    div.form-registration__footer
      a.form-registration__link(href="index.html") Уже есть аккаунт на Toxin
      div.form-registration__button-wrapper
        +button-click-background('войти')(class="button-click-background")
     
    


    

  
  