.search-room
  max-width: 1920px
  min-width: 320px
  display: grid
  grid-template-columns: minmax(auto, 9%) minmax(280px, 23%) minmax(auto, auto)
  grid-template-rows: minmax(2%, 5%) auto auto 7% 5%

.search-room__navigation
  display: flex
  flex-direction: column
  grid-column: 2/3
  grid-row: 2/6
  margin:
    left: 11px
    top: 5px

.filter-date-dropdown-wrapper__title,.dropdown-wide-wrapper__title,.range-slider-wrapper__title,.checkbox-buttons-wrapper__title,.dropdown-less-wrapper__title
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041
.filter-date-dropdown-wrapper__title
  padding:
    left: 1px
    bottom: 5px
.dropdown-wide-wrapper
  padding-top: 20px
.dropdown-wide-wrapper__title
  padding:
    bottom: 5px

.range-slider-wrapper
  padding-top: 30px

.checkbox-buttons-wrapper
  width: 230px
  padding:
    top: 27px
.checkbox-buttons-wrapper__title
  padding:
    bottom: 6px
    left: 1px
.checkbox-buttons-container
  padding-left: 31px

.rich-heckbox-buttons-wrapper
  padding:
    top: 30px
.rich-heckbox-buttons__title
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color:  #1F2041
  padding:
    bottom: 7px
    left: 1px

.dropdown-less-wrapper
  padding:
    top: 28px
    left: 2px
.dropdown-less-wrapper__title
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041
  padding-bottom: 4px

.expandable-checkbox-list-wrapper
  padding-top: 30px


.search-room__title-block
  grid-column: 3/4
  grid-row: 2/3
  padding:
    left: 9px
    top: 5px
.search-room__title
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 24px
  color: #1F2041

.search-room__img
  display: grid
  grid-template-columns: repeat(3, 282px)
  grid-template-rows: repeat(4, 278px)
  grid-column: 3/4
  grid-row: 3/4
  padding:
    left: 11px
    top: 21px
@media screen and ( max-width:  1150px)
  .search-room__img
    grid-template-columns: repeat(2, 282px)
    grid-template-rows: repeat(6, 278px)
.pagination-wrapper
  display: flex
  justify-content: center
  align-items: center
  margin:
    top: 5px
    right: 131px
  grid-column: 3/4
  grid-row: 4/5

.search-room-navigation-footer-wrapper
  margin-top: 94px
  padding:
    top: 100px
    bottom: 101px
  border-top: 1px solid rgba(31, 32, 65, 0.25)
.search-room-navigation-footer-wrapper__block
  

.search-room-footer-full-wrapper
  border-top: 1px solid rgba(31, 32, 65, 0.25)