div.page-registration
  div.page-registration-header-wrapper
    include ../header/header.pug
  div.page-registration-form-registration-wrapper
    include ../form-registration/form-registration.pug
include ../navigation-footer/navigation-footer.pug
footer.page-registration-footer-full-wrapper
  include ../footer-full/footer-full.pug