div.social-media-icons
  a.twitter-link(href="#") <img class="icon-twitter" src="./src/modules/social-media-icons/icons-img/twitter.png" alt="img">
  a.facebook-link(href="#") <img class="icon-facebook" src="./src/modules/social-media-icons/icons-img/facebook.png" alt="img">
  a.instagram-link(href="#") <img class="icon-instagram" src="./src/modules/social-media-icons/icons-img/instagram.png" alt="img">