doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link rel="icon" href="src/favicon.ico" /> 
    title Document
  body
    div.page-registration
      div.page-registration-header-wrapper
        include ../../all-header/header/header.pug
      div.page-registration-form-registration-wrapper
        include ../../form-registration/form-registration.pug
    include ../../all-footer/navigation-footer/navigation-footer.pug
    footer.page-registration-footer-full-wrapper
      include ../../all-footer/footer-full/footer-full.pug