div.page-registration
  div.page-registration-header-wrapper
    include ../../all-header/header/header.pug
  div.page-registration-form-registration-wrapper
    include ../../form-registration/form-registration.pug
include ../../all-footer/navigation-footer/navigation-footer.pug
footer.page-registration-footer-full-wrapper
  include ../../all-footer/footer-full/footer-full.pug