mixin date-dropdown(type,placeholder,id)
  div.date-dropdown-block
    input(data-position= "bottom left" data-multiple-dates="2" data-range= "true"  id=id  class!=attributes.class type=type placeholder=placeholder )