div.footer-rectangle
  div.footer-rectangle-wrapper
    div.footer-rectangle-logo-wrapper
      include ../logo/logo.pug
    div.footer-rectangle-footer-copyright-text-wrapper
      include ../footer-copyright/footer-copyright-text.pug
    div.footer-rectangle-social-media-icons-wrapper
      include ../social-media-icons/social-media-icons.pug