.bullet-list
  font:
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  letter-spacing: 1px
  &::before 
    content: "•"
    color: rgba(31, 32, 65, 0.25)
    font-size: 40px
    vertical-align: top
    padding-right: 2px
