.bullet-list-wrapper
  width: 200px
.bullet-list-block
  width: 10px
  height: 10px
  margin-right: 5px
  display: inline-block
  border-radius: 50%
.bullet-list-text
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 14px
  line-height: 22px
  color: rgba(31, 32, 65, 0.75)
  display: inline-block
  vertical-align: middle