.button-narrow-wrapper
  display: inline-block
  
.button-narrow
  width: 196px
  height: 34px
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius: 22px
  border: none
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 25px
  text-transform: uppercase
  color: #FFFFFF
  padding: 10px 21px 9px 19px