.small-button-wrapper
  display: flex
  justify-content: center
  align-items: center
  border-radius: 22px
  background-image: linear-gradient( #BC9CFF 50%, #8BA4F9 50%)
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
  width: 87px
  height: 34px
  
.small-button
  display: inline
  border: solid transparent
  border-radius: 22px
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #BC9CFF
  background: #FFFFFF
  width: 77px
  height: 19px
  padding-top: 5px
  text-align: center
  
.small-button-wrapper:hover
  background: rgba(188, 156, 255, 0.5)