div.toggle
  div.toggle-wrapper
    div.toggle-wrapper__circle
  div.toggle-block
    span.toggle-block__text Получать спецпредложения
div.toggle
  div.toggle-wrapper.toggle-wrapper_not-active
    div.toggle-wrapper__circle.toggle-wrapper__circle_not-active-color
  div.toggle-block
    span.toggle-block__text Получать спецпредложения