.like-button
  display: grid
  grid-template-columns: 11px 9px auto
  grid-template-rows: 7px 5px auto
  justify-content: space-around
  align-items: center
  width: 39.72px
  height: 20px
  background: #FFFFFF
  border: 1px solid #BC9CFF
  box-sizing: border-box
  border-radius: 10px
  cursor: pointer
  z-index: 1

.like-button__img
  grid-column: 1/2
  grid-row: 2/3
  width: 10px
  height: 8px

.like-button__number
  grid-column: 2/3
  grid-row: 2/3
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 10px
  line-height: 12px
  text-align: center
  color: #BC9CFF
.like-button_not-active-color
  border-color: rgba(31, 32, 65, 0.25)
.like-button__number_not-active-color
  color: rgba(31, 32, 65, 0.25)