.filter-date-dropdown
  display: inline-block
  position: relative
  &::before
    position: absolute
    content: url(../src/modules/mixin-date-dropdown/img/expand_more.png)
    cursor: pointer
    top: 14px
    right: 15px
.filter-date-dropdown__input
  width: 266px
  height: 44px
  background: #FFFFFF
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  border-radius: 4px
  &::placeholder
    font:
      style: normal
      weight: normal
      size: 14px
    line-height: 24px
    color: rgba(31, 32, 65, 0.75)
    padding-left: 10px
    letter-spacing: 0.3px