div.filter-date-dropdown.js-filter-date-dropdown
  input.filter-date-dropdown__input.js-filter-date-dropdown__input(class="datepicker-here" type="text" placeholder="19 авг - 23 авг" data-multiple-dates="2"
    data-multiple-dates-separator=", " data-position= "bottom left" data-range= "true")