.room-details-wrapper
  border-bottom: 1px solid rgba(31, 32, 65, 0.1)
  padding-bottom: 165px
.room-details-background
  display: grid
  grid-template-columns: 69% 31%
  grid-template-rows: 50% 50%
  
.room-details__img1
  grid-column-start: 1
  grid-column-end: 2
  grid-row-start: 1
  grid-row-end: 3
  width: 981px
  height: 485px
  
.room-details__img2
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 1
  grid-row-end: 2
  width: 461px
  height: 243px
  transform: translateX(-1px)

.room-details__img3
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 2
  grid-row-end: 3
  width: 461px
  height: 243px
  transform: translate(-1px, -1px)

.room-details-info
  display: grid
  grid-template-columns: 6% 3% 25% 30% 37%
  grid-template-rows:  8% 37% 3% 42% auto

.room-details-info__title
  font:
    style: normal
    weight: bold
    size: 19px
  line-height: 23px
  color: #1F2041
  letter-spacing: 1px

.room-details-info__wrapper-room-details
  display: inline-block
  grid-column-start: 3
  grid-column-end: 4
  grid-row-start: 2
  grid-row-end: 3
  padding: 
    top: 10px
    left: 12px
.room-details-info__title-padding-left
  padding: 
    left: 8px
.room-details-block
  padding-top: 19px
  border-bottom: 1px solid rgba(31, 32, 65, 0.1)
.room-details-block3
  padding-top: 19px

.room-details-info__wrapper-impressions-room
  display: inline-block
  grid-column-start: 4
  grid-column-end: 5
  grid-row-start: 2
  grid-row-end: 3
  padding: 
    top: 9px
    left: 11px 
.room-details-info__title_padding-left
  display: flex
  justify-content: space-between
  padding: 
    left: 42px
.reviews__number-wrapper
  display: inline-block
  padding: 
    right: 61px
  margin-top: 6px
.room-details-info__wrapper-form-number-selection-total
  display: inline-block
  grid-column-start: 5
  grid-column-end: 6
  grid-row-start: 2
  grid-row-end: 6
  padding: 
    top: 9px
    left: 9px 
.room-details-info__reviews-block
  grid-column-start: 2
  grid-column-end: 5
  grid-row-start: 4
  grid-row-end: 5
  padding:
    top: 2px
    left: 11px
.room-details-info__reviews-block-grid
  display: grid
  grid-template-columns: 10% 90%
  grid-template-rows:  80px auto
  padding:
    left: 12px
.reviews__wrapper
  display: inline-block
  grid-column-start: 1
  grid-column-end: 3
  grid-row-start: 1
  grid-row-end: 2
.reviews__like-wrapper
  display: inline-block
  grid-column-start: 1
  grid-column-end: 2
  grid-row-start: 2
  grid-row-end: 3
  padding:
    left: 34px

.reviews__text-wrapper
  display: inline-block
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 2
  grid-row-end: 3
  padding:
    left: 9px
    right: 55px
.room-details-info__wrapper-bullet-list
  display: inline-block
  grid-column-start: 3
  grid-column-end: 4
  grid-row-start: 5
  grid-row-end: 6
  padding:
    top: 12px
    left: 10px
    right: 10px
.room-details-info__title_bullet-list-padding-left
  padding-left: 22px
.wrapper-bullet-list
  padding-top: 9px
.bullet-list_padding-top
  padding:
    top: 10px
  &::before
    padding-right: 8px
.room-details-info__wrapper-block-cancel
  display: inline-block
  grid-column-start: 4
  grid-column-end: 5
  grid-row-start: 5
  grid-row-end: 6
  padding:
    top: 13px
    left: 17px
.room-details-info__title_padding-bottom
  padding-bottom: 17px

.room-details-footer-full-wrapper
  border-top: 1px solid rgba(31, 32, 65, 0.1)