.room-details-background
  display: grid
  grid-template-columns: 69% 31%
  grid-template-rows: 50% 50%
  
.room-details__img1
  grid-column-start: 1
  grid-column-end: 2
  grid-row-start: 1
  grid-row-end: 3
  width: 981px
  height: 485px
  
.room-details__img2
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 1
  grid-row-end: 2
  width: 461px
  height: 243px
  transform: translateX(-1px)

.room-details__img3
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 2
  grid-row-end: 3
  width: 461px
  height: 243px
  transform: translate(-1px, -1px)

.room-details-info
  display: grid
  grid-template-columns: 10% 30% 30% 30%
  grid-template-rows: 35% 35% 35%

.room-details-info__block-room-details
  display: inline-block

.room-details-info
  font:
    style: normal
    weight: bold
    size: 19px
  line-height: 23px
  color: #1F2041