include ../mixin-room-details/mixin-room-details.pug
include ../mixin-room-details/mixin-room-details.pug
include ../mixin-number-reviews/mixin-number-reviews.pug
include ../mixin-like-button/mixin-like-button.pug
include ../mixin-review/mixin-review.pug
include ../mixin-bullet-list/bullet-list.pug
div.room-details-header-wrapper
  include ../header/header.pug
div.room-details-wrapper
  div.room-details-background
    img.room-details__img1(src="./src/modules/room-details/img/room-details-image1.jpg" alt="img")
    img.room-details__img2(src="./src/modules/room-details/img/room-details-image2.jpg" alt="img")
    img.room-details__img3(src="./src/modules/room-details/img/room-details-image3.jpg" alt="img")
  main.room-details-info 
    div.room-details-info__wrapper-room-details
      h2.room-details-info__title Сведения о номере
      div.room-details-block
        +room-details("src/modules/mixin-room-details/img/insert_emoticon.png", "Комфорт","Шумопоглощающие стены")
      div.room-details-block
        +room-details("src/modules/mixin-room-details/img/location_city.png", "Удобство","Окно в каждой из спален")
      div.room-details-block3
        +room-details("src/modules/mixin-room-details/img/whatshot.png", "Уют","Номер оснащён камином")
    div.room-details-info__wrapper-impressions-room
      h2.room-details-info__title Впечатления от номера
      include ../impressions-room/impressions-room.pug
    div.room-details-info__wrapper-form-number-selection-total
      include ../form-number-selection-total/form-number-selection-total-copy.pug
    div.room-details-info__reviews-block
      h2.room-details-info__title Отзывы посетителей номера
      div.reviews__wrapper
        +room-details("src/modules/reviews-block/img/image-user1.jpg", "Мурад Сарафанов","5 дней назад")
      div.reviews__number
        +number-reviews("2", "Отзыва")
      div.reviews__like
        +like-button("./src/modules/mixin-like-button/img/favorite.png", 12)
      div.reviews__text
        +review("Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
      div.reviews__wrapper
        +room-details("src/modules/reviews-block/img/image-user1.jpg", "Мурад Сарафанов","5 дней назад")
      div.reviews__number
        +number-reviews("2", "Отзыва")
      div.reviews__like
        +like-button("./src/modules/mixin-like-button/img/favorite.png", 12)
      div.reviews__text
        +review("Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
    div.room-details-info__wrapper-bullet-list
      h2.room-details-info__title Правила
      ul
        +bullet-list("Нельзя с питомцами")(class="bullet-list")
        +bullet-list("Без вечеринок и мероприятий")(class="bullet-list")
        +bullet-list("Время прибытия — после 13:00,а выезд до 12:00")(class="bullet-list")
    div.room-details-info__wrapper-block-cancel
      h2.room-details-info__title Отмена
      include ../block-cancel/block-cancel.pug
footer.room-details-navigation-footer-wrapper
  include ../navigation-footer/navigation-footer.pug
footer.room-details-footer-full-wrapper
  include ../footer-full/footer-full.pug