div.nav 
  a.nav__item(href="index.html") О нас
  a.nav__item(href="index.html") Услуги<img class="nav__item"  src="" alt="">
  a.nav__item(href="index.html") Вакансии
  a.nav__item(href="index.html") Новости
  a.nav__item(href="index.html") Соглашения<img class="nav__item"  src="" alt="">
