div.nav 
  a.nav_item(href="index.html") О нас
  a.nav_item(href="index.html") Услуги<img class="nav_item nav_item__margin-less"  src="./src/modules/header-nav/image/arrow-to-down.png" alt="img">
  a.nav_item.nav_item__margin-more(href="index.html") Вакансии
  a.nav_item(href="index.html") Новости
  a.nav_item(href="index.html") Соглашения<img class="nav_item nav_item__margin"  src="./src/modules/header-nav/image/arrow-to-down.png" alt="img">
