div.nav 
  a.nav__item(href="index.html") О нас
  a.nav__item(href="index.html") Услуги<img class="nav__item nav__item_margin-less"  src="./src/modules/header-nav/image/expand_more.png" alt="img">
  a.nav__item.nav__item_margin-more(href="index.html") Вакансии
  a.nav__item(href="index.html") Новости
  a.nav__item(href="index.html") Соглашения<img class="nav__item nav__item_margin"  src="./src/modules/header-nav/image/expand_more.png" alt="img">
