.nav
    display: inline-block
.nav__item
    text-decoration: none
    color: rgba(31, 32, 65, 0.5)
    font-style: normal
    font-weight: normal
    font-size: 1em
    line-height: 10px
    margin-left: 20px
    cursor: pointer
    letter-spacing: 1px
    font-stretch: ultra-expanded
.nav__item_margin-less
  margin-left: 6px
.nav__item_margin-more
  margin-left: 29px
