include ../mixin-number-reviews/mixin-number-reviews.pug
include ../mixin-rate-button/rate-button.pug
div.card-slider
  div.card-slider__img-wrapper.js-card-slider__img-wrapper
    div.card-slider__img__scroll
      img.card-slider__img( src="./src/modules/card-slider8/img/card-image.jpg" alt="img")
      img.card-slider__img( src="./src/modules/card-slider8/img/card-image2.jpg" alt="img")
      img.card-slider__img( src="./src/modules/card-slider8/img/card-image.jpg" alt="img")
      img.card-slider__img( src="./src/modules/card-slider8/img/card-image8.jpg" alt="img")
    ul.card-slider__cicle-wrapper
      li.card-slider__cicle.card-slider__cicle_backgroundColor-white
      li.card-slider__cicle
      li.card-slider__cicle
      li.card-slider__cicle
    div.card-slider__arrow-right-block.js-card-slider__arrow-right-block
      img.card-slider__arrow-right(src="./src/modules/card-slider-main/img/arrow-left.png" alt="img")
    div.card-slider__arrow-left-block.js-card-slider__arrow-left-block
      img.card-slider__arrow-left(src="./src/modules/card-slider-main/img/arrow-left.png" alt="img")
  a.card-slider-link(href="index.html")
    div.card-slider__characteristics-wrapper
      span.card-slider__sign № <span class="card-slider__number">666</span><span class="card-slider__category"></span>
      span.card-slider__sum 5 000₽ <span class="card-slider__sum-text">в сутки</span>
    div.card-slider__reviews-wrapper
      +rate-button("src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png", "src/modules/mixin-rate-button/img/star.png")(class="rate-button__img")
      +number-reviews("25", "Отзывов")