include ../mixin-input-wide-field/mixin-input-wide-field.pug
include ../mixin-wide-button/mixin-wide-button.pug
include ../mixin-button-click-background/mixin-button-click-background.pug
div.form-login
  form(action="")
    div.form-login__title-wrapper
      h2.form-login__title Войти
    div.form-login__input-email-wrapper
      +input-wide-field("email" , "Email")(class="input-wide-field")
    div.form-login__input-password-wrapper
      +input-wide-field("text" , "Пароль")(class="input-wide-field")
    div.form-login__button-wrapper
      +wide-button('войти')(class="wide-button")
    div.form-login__footer
      a.form-login__link(href="index.html") Нет аккаунта на Toxin?
      div.button-click-background-wrapper.button-click-background_opacity
        +button-click-background('создать')(class="button-click-background")
      