include ../mixin-input/mixin-input.pug
include ../mixin-button/mixin-button-narrow.pug
include ../mixin-button/mixin-button-broad.pug
div.form-login
  form(action="")
    div.form-login__title-wrapper
      h2.form-registration-title Войти
    div.form-login__input-login-wrapper
      +input("email" , "Email")(class="input")
      +input("text" , "Пароль")(class="input")
    div.form-login__button-wrapper
      +button-narrow('войти')(class="button-narrow")
    div.form-login__link-wrapper
      a(href="index.html") Уже есть аккаунт на Toxin
    div.form-login__button-broad-wrapper
      +button-broad('войти')(class="button-broad")
      