div.dropdown-less
  input.dropdown-less__input.dropdown-less__input_border-bottom(type="number" placeholder="Сколько гостей")
  div.dropdown-less__table
    div.dropdown-less__item
      h2.dropdown-less__title спальни
      div.dropdown-less__circle
        span.dropdown-less__less-sign -
      div.dropdown-less__number 2
      div.dropdown-less__circle
        span.dropdown-less__more-sign +
    div.dropdown-less__item
      h2.dropdown-less__title кровати
      div.dropdown-less__circle
        span.dropdown-less__less-sign -
      div.dropdown-less__number 2
      div.dropdown-less__circle
        span.dropdown-less__more-sign +
    div.dropdown-less__item
      h2.dropdown-less__title ванные комнаты
      div.dropdown-less__circle
        span.dropdown-less__less-sign -
      div.dropdown-less__number 0
      div.dropdown-less__circle
        span.dropdown-less__more-sign +
    div.dropdown-less__hidden-block
      span.dropdown-less__clear очистить
      span.dropdown-less__apply применить