.dropdown-less
  display: inline-block
  height: 44px
  &::after
    content: url(../src/modules/dropdown-less/img/expand_more.png)
    position: absolute
    cursor: pointer
    right: 17px
    top: 13px
//модификация по нажатию/
.dropdown-less_active::after
  content: url(../src/modules/dropdown-less/img/expand_more-top.png)
  position: absolute
  cursor: pointer
  right: 17px
  top: 13px
///    /
.dropdown-less__input
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  width: 266px
  height: 44px
  background: #FFFFFF
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  color: rgba(31, 32, 65, 0.75)
  outline: none
  padding-left: 12px
  &::placeholder
    color:  rgba(31, 32, 65, 0.25)
  //стили при открытие таблицы/
.dropdown-less__input_border-bottom
  border-radius: 0px
  border-top-right-radius: 4px
  border-top-left-radius: 4px
  border: 1px solid rgba(31, 32, 65, 0.5)
.dropdown-less__table
  position: absolute
  z-index: 1
  display: grid
  grid-template-columns: 63% 11% 12% 14%
  grid-template-rows: 32% 31% 37% 
  width: 266px
  height: 118px
  background: #FFFFFF
  border: 1px solid rgba(31, 32, 65, 0.5)
  box-sizing: border-box
  border-top: none
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
.dropdown-less__title
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041
  padding:
    top: 13px
    left: 13px
.dropdown-less__number-dorm,
.dropdown-less__number-bed,
.dropdown-less__number-bathrooms
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041
.dropdown-less__circle-top,
.dropdown-less__circle-center,
.dropdown-less__circle-bottom,
.dropdown-less__circle-dorm,
.dropdown-less__circle-bed,
.dropdown-less__circle-bathrooms
  display: flex
  justify-content: center
  align-items: center
  width: 30px
  height: 30px
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  border-radius: 22px
  margin:
    top: 6px
.dropdown-less__less-sign-top,
.dropdown-less__less-sign-center,
.dropdown-less__less-sign-bottom

.dropdown-less__more-sign
  color: rgba(31, 32, 65, 0.5)

//модификация bordera//
.dropdown-less__less-sign-pale,
.dropdown-less__less-sign-pale,
.dropdown-less__less-sign-pale
  color: rgba(31, 32, 65, 0.15)
.dropdown-less__circle_border-pale,
.dropdown-less__circle_border-pale,
.dropdown-less__circle_border-pale
  border: 1px solid rgba(31, 32, 65, 0.15)
/////////

.dropdown-less__block
  display: flex
  justify-content: center
  align-items: center
  width: 30px
  height: 30px
  margin:
    top: 5px
.dropdown-less__clear
  grid-row: 4/5
  grid-column: 1/2
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #BC9CFF
.dropdown-less__apply
  grid-row: 4/5
  grid-column: 2/5
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #BC9CFF
  text-align: center