.header
  display: grid
  grid-template-rows: auto
  grid-template-columns: 9% 27% 34% 30%
  max-width: 1980px
  min-width: 320px
  background-color: #FFFFFF
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
.logo-wrapper
  grid-column-start: 2
  grid-column-end: 3
  padding-top: 16px
  padding-bottom: 11px
  margin-left: 12px
.nav-wrapper
  grid-column-start: 3
  grid-column-end: 4
  padding-top: 28px
  padding-bottom: 11px
.button-wrapper
  grid-column-start: 4
  grid-column-end: 5
  padding-top: 19px
  padding-bottom: 11px