include ../mixin-button/mixin-button-narrow.pug
include ../mixin-button/mixin-button-broad.pug
header.header
  div.logo-wrapper
    include ../logo/logo.pug
  div.nav-wrapper
    include ../header-nav/nav.pug
  div.nav-wrapper-navBurger
    include ../navBurger/navBurger.pug
  div.button-wrapper
    +button-broad('войти', '../modules/page-login/page-login.html')(class="button-broad")
    +button-narrow('зарегистрироваться', 'page-login/page-login.pug')(class="button-narrow")