include ../mixin-button/mixin-button-narrow.pug
include ../mixin-button/mixin-button-broad.pug
header.header
  div.logo-wrapper
    include ../logo/logo.pug
  div.nav-wrapper
    include ../header-nav/nav.pug
  div.button-wrapper
    +button-broad('войти')(class="button-broad")
    div.button-narrow-wrapper
    +button-narrow('зарегистрироваться')(class="button-narrow")