mixin user-name-picture(picture, name, text)
  div.user-name-picture__wrapper
    img.user-name-picture__picture(src=picture alt="img")
    span.user-name-picture__name=name
    span.user-name-picture__text=text