.user-name-picture__wrapper
  display: grid
  grid-template-columns: 10% 90%
  grid-template-rows: 21% 24% 25% 30%
.user-name-picture__picture
  grid-column-start: 1
  grid-column-end: 2
  grid-row-start: 1
  grid-row-end: 5
  padding:
    top: 10px
    left: 11px
.user-name-picture__name
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 2
  grid-row-end: 3
  font:
    style: normal
    weight: bold
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  letter-spacing: 0.9px
  padding-left: 8px

.user-name-picture__text
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 3
  grid-row-end: 4
  letter-spacing: 0.9px
  font:
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  padding-left: 8px