div.subscription-block
  span.subscription-block__heading Подписка
  span.subscription-block__text Получайте специальные предложения и новости сервиса
  form(action="")
    input(class="email" type="email" placeholder="Email")