.subscription-block
  display: flex
  flex-wrap: wrap
  width: 280px
.subscription-block__heading
  font:
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041
.subscription-block__text
  font:
    style: normal
    weight: normal
    size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  padding-top: 18px
.email
  background: #FFFFFF
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  border-radius: 4px
  width: 260px
  height: 44px
  &::placeholder
    font:
      style: normal
      weight: normal
      size: 14px
    line-height: 24px
    color: rgba(31, 32, 65, 0.25)
    padding-left: 15px
  &::after  
    content: url(../src/modules/footer-subscription/img/arrow-forward.png)