include ../mixin-input/mixin-input.pug
div.subscription-block
  span.subscription-block__heading Подписка
  span.subscription-block__text Получайте специальные предложения и новости сервиса
  form(class="form-input" action="")
    +input("email", "Email")(class="input") 