mixin dropdown-wide()
  div.dropdown-wide.js-dropdown-wide
    input.dropdown-wide__input.js-dropdown-wide__input(type="text" placeholder="Сколько гостей")
  div.dropdown-wide__table.js-dropdown-wide__table(class!=attributes.class)
    h2.dropdown-wide__title взрослые
    div.dropdown-wide__circle-top.js-dropdown-wide__circle-top.dropdown-wide__circle_border-pale
      span.dropdown-wide__less-sign-top.js-dropdown-wide__less-sign-top.dropdown-wide__less-sign-pale -
    div.dropdown-wide__block
      span.dropdown-wide__number-adults.js-dropdown-wide__number-adults 0
    div.dropdown-wide__circle-adults.js-dropdown-wide__circle-adults
      span.dropdown-wide__more-sign +
    h2.dropdown-wide__title дети
    div.dropdown-wide__circle-center.js-dropdown-wide__circle-center.dropdown-wide__circle_border-pale
      span.dropdown-wide__less-sign-center.js-dropdown-wide__less-sign-center.dropdown-wide__less-sign-pale -
    div.dropdown-wide__block
      span.dropdown-wide__number-children.js-dropdown-wide__number-children 0
    div.dropdown-wide__circle-children.js-dropdown-wide__circle-children
      span.dropdown-wide__more-sign +
    h2.dropdown-wide__title младенцы
    div.dropdown-wide__circle-bottom.js-dropdown-wide__circle-bottom.dropdown-wide__circle_border-pale
      span.dropdown-wide__less-sign-bottom.js-dropdown-wide__less-sign-bottom.dropdown-wide__less-sign-pale -
    div.dropdown-wide__block
      span.dropdown-wide__number-babies.js-dropdown-wide__number-babies 0
    div.dropdown-wide__circle-babies.js-dropdown-wide__circle-babies
      span.dropdown-wide__more-sign +
    span.dropdown-wide__clear.js-dropdown-wide__clear очистить
    span.dropdown-wide__apply.js-dropdown-wide__apply применить