//header и его компоненты
@import ./src/modules/all-header/header/header.sass
@import ./src/modules/all-header/header-user-name/header-user-name.sass
@import ./src/modules/all-header/header-nav/nav.sass
@import ./src/modules/user-name/user-name.sass
@import ./src/modules/all-header/navBurger/navBurger.sass
@import ./src/modules/logo/logo.sass
//footer и его компоненты
@import ./src/modules/all-footer/footer-copyright/footer-copyright-text.sass
@import ./src/modules/all-footer/footer-full/footer-full.sass
@import ./src/modules/all-footer/navigation-footer/navigation-footer.sass
@import ./src/modules/all-footer/footer-rectangle/footer-rectangle.sass
@import ./src/modules/social-media-icons/social-media-icons.sass
//все кнопки
@import ./src/modules/all-button/mixin-wide-button/mixin-wide-button.sass
@import ./src/modules/all-button/mixin-small-button-background-present/mixin-small-button-background-present.sass
@import ./src/modules/all-button/mixin-button-click-background/mixin-button-click-background.sass
@import ./src/modules/all-button/mixin-small-button-no-background/mixin-small-button-no-background.sass
@import ./src/modules/all-button/mixin-like-button/mixin-like-button.sass
@import ./src/modules/all-button/mixin-button/mixin-small-button.sass
@import ./src/modules/all-button/mixin-button/mixin-button-narrow.sass

@import ./src/modules/mixin-radio-buttons/radio-buttons.sass
@import ./src/modules/mixin-checkbox-buttons/mixin-checkbox-buttons.sass
@import ./src/modules/mixin-pictures-stars/pictures-stars.sass
@import ./src/modules/mixin-input-wide-field/mixin-input-wide-field.sass
@import ./src/modules/mixin-date-dropdown/mixin-date-dropdown.sass
@import ./src/modules/mixin-input-narrow-field/mixin-input-narrow-field.sass
@import ./src/modules/mixin-dropdown-wide/dropdown-wide.sass
@import ./src/modules/mixin-dropdown-wide/dropdown-wide-table.sass
@import ./src/modules/mixin-bullet-list/bullet-list.sass
@import ./src/modules/mixin-room-amenities/mixin-room-amenities.sass
@import ./src/modules/mixin-review/mixin-review.sass
@import ./src/modules/mixin-user-name-picture/mixin-user-name-picture.sass
@import ./src/modules/mixin-number-reviews/mixin-number-reviews.sass

@import ./src/modules/filter-date-dropdown-input/filter-date-dropdown.sass
@import ./src/modules/card-slider-folder/card-slider-main/card-slider-main.sass
@import ./src/modules/form-number-selection-total/form-number-selection-total.sass
@import ./src/modules/impressions-room/impressions-room.sass
@import ./src/modules/block-cancel/block-cancel.sass
@import ./src/modules/toggle/toggle.sass
@import ./src/modules/expandable-checkbox-list/expandable-checkbox-list.sass
@import ./src/modules/rich-heckbox-buttons/rich-heckbox-buttons.sass
@import ./src/modules/pagination/pagination.sass
@import ./src/modules/range-slider/range-slider.sass
@import ./src/modules/dropdown-less/dropdown-less.sass
@import ./src/modules/dropdown-less/dropdown-less-table.sass
@import ./src/modules/calendar/calendar.sass
@import ./src/modules/mixin-ul-li/mixin-ul-li.sass
@import ./src/modules/number-selection/number-selection.sass
@import ./src/modules/form-registration/form-registration.sass
@import ./src/modules/form-login/form-login.sass
//все страницы
@import ./src/fonts/fonts.sass
@import ./src/modules/all-pages/landing-page/landing-page.sass
@import ./src/modules/all-pages/page-login/page-login.sass
@import ./src/modules/all-pages/page-registration/page-registration.sass
@import ./src/modules/all-pages/search-room/search-room.sass
@import ./src/modules/all-pages/room-details/room-details.sass
@import ./src/modules/all-pages/ui-kit-form-elements.sass
@import ./src/modules/all-pages/all-pages.sass
//стили календаря
@import ../node_modules/air-datepicker/dist/css/datepicker.min.css 

%MontserratNormalBold
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
%MontserratNormalNormal
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
body
  background-color: #FFFFFF
  margin: 0px
  padding: 0px
ul,h2,h3
  margin: 0px
  padding: 0px
  list-style: none
a,button
  cursor: pointer
  text-decoration: none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
input
  outline: none
  &:focus
    border: 1px solid rgba(31, 32, 65, 0.5)

