doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
      include modules/search-room/search-room.pug
      //include modules/room-details/room-details.pug
      //include modules/impressions-room/impressions-room.pug
      //include modules/ui-kit-form-elements.pug
      //include modules/page-login/page-login.pug
      //include modules/page-registration/page-registration.pug
      //include modules/form-registration/form-registration.pug
      //include modules/form-login/form-login.pug
      //include modules/landing-page/landing-page.pug
      //include modules/header-user-name/header-user-name.pug
      //include modules/footer-full/footer-full.pug
      //include modules/navigation-footer/navigation-footer.pug
      //include modules/footer-rectangle/footer-rectangle.pug
      //include modules/number-selection/number-selection.pug