@import ./src/fonts/fonts.sass
@import ./src/modules/header/header.sass
@import ./src/modules/header-user-name/header-user-name.sass
@import ./src/modules/user-name/user-name.sass
@import ./src/modules/logo/logo.sass
@import ./src/modules/header-nav/nav.sass
@import ./src/modules/mixin-button/mixin-button-broad.sass
@import ./src/modules/mixin-button/mixin-button-narrow.sass
@import ./src/modules/footer-copyright/footer-copyright-text.sass
@import ./src/modules/social-media-icons/social-media-icons.sass
@import ./src/modules/footer-full/footer-full.sass
@import ./src/modules/navigation-footer/navigation-footer.sass
@import ./src/modules/mixin-ul-li/mixin-ul-li.sass
@import ./src/modules/footer-rectangle/footer-rectangle.sass
@import ./src/modules/number-selection/number-selection.sass
@import ./src/modules/landing-page/landing-page.sass
@import ./src/modules/form-registration/form-registration.sass
@import ./src/modules/form-login/form-login.sass
@import ./src/modules/page-registration/page-registration.sass
@import ./src/modules/page-login/page-login.sass
@import ./src/modules/mixin-wide-button/mixin-wide-button.sass
@import ./src/modules/mixin-button-click-me/button-click-me.sass
@import ./src/modules/mixin-button-click-background/mixin-button-click-background.sass
@import ./src/modules/mixin-click-me/mixin-click-me.sass
@import ./src/modules/pagination/pagination.sass
@import ./src/modules/range-slider/range-slider.sass
@import ./src/modules/mixin-checkbox-buttons/mixin-checkbox-buttons.sass
@import ./src/modules/mixin-input-wide-field/mixin-input-wide-field.sass
@import ./src/modules/mixin-date-dropdown/mixin-date-dropdown.sass
@import ./src/modules/mixin-input-narrow-field/mixin-input-narrow-field.sass
@import ./src/modules/mixin-radio-buttons/radio-buttons.sass
@import ./src/modules/toggle/toggle.sass
@import ./src/modules/mixin-like-button/mixin-like-button.sass
@import ./src/modules/mixin-bullet-list/bullet-list.sass
@import ./src/modules/expandable-checkbox-list/expandable-checkbox-list.sass
@import ./src/modules/rich-heckbox-buttons/rich-heckbox-buttons.sass
@import ./src/modules/mixin-room-details/mixin-room-details.sass
@import ./src/modules/mixin-like-button/faint-copy-like-button.sass
@import ./src/modules/toggle/faint-copy-toggle.sass
@import ./src/modules/filter-date-dropdown-input/filter-date-dropdown.sass
@import ./src/modules/mixin-rate-button/rate-button.sass
@import ./src/modules/dropdown-wide/dropdown-wide.sass
@import ./src/modules/dropdown-wide/dropdown-wide-table.sass
@import ./src/modules/dropdown-less/dropdown-less.sass
@import ./src/modules/dropdown-less/dropdown-less-table.sass
@import ./src/modules/card-slider/card-slider.sass
@import ./src/modules/card-slider-arrow/card-slider-arrow.sass
@import ./src/modules/block-cancel/block-cancel.sass
@import ./src/modules/mixin-number-reviews/mixin-number-reviews.sass
@import ./src/modules/impressions-room/impressions-room.sass
@import ./src/modules/room-details/room-details.sass
@import ./src/modules/form-number-selection-total/form-number-selection-total-copy.sass
@import ./src/modules/mixin-review/mixin-review.sass
@import ./src/modules/mixin-user-name-picture/mixin-user-name-picture.sass
@import ./src/modules/search-room/search-room.sass

@import ./src/modules/calendar/calendar.sass
//стили календаря
@import ../node_modules/air-datepicker/dist/css/datepicker.min.css 


body
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
  background-color: #FFFFFF
  margin: 0px
  padding: 0px
ul,h2,h3
  margin: 0px
  padding: 0px
  list-style: none
a,button
  cursor: pointer
  text-decoration: none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
input
  outline: none
  &:focus
    border: 1px solid rgba(31, 32, 65, 0.5)

