@import ./src/fonds/fonds.sass
@import ./src/modules/header/header.sass
@import ./src/modules/header-user-name/header-user-name.sass
@import ./src/modules/user-name/user-name.sass
@import ./src/modules/logo/logo.sass
@import ./src/modules/header-nav/nav.sass
@import ./src/modules/button-login/button-login-registration.sass
@import ./src/modules/footer-copyright/footer-copyright-text.sass
@import ./src/modules/social-media-icons/social-media-icons.sass
@import ./src/modules/footer-full/footer-full.sass
@import ./src/modules/navigation-footer/navigation-footer.sass
@import ./src/modules/footer-logo-title/footer-logo-title.sass
@import ./src/modules/footer-logo-title/footer-title.sass
@import ./src/modules/footer-navigation/footer-navigation.sass
body
  font-family: Montserrat, Arial, sans-serif
  font-size: 14px
  color: rgba(31, 32, 65, 0.75)
  background-color: #FFFFFF
  margin: 0px
  padding: 0px
