.number-reviews-block
  display: inline-block
  padding:
    top: 2px
    right: 16px
.number-reviews
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 14px
  line-height: 18px
  color: rgba(31, 32, 65, 0.5)
  
.number-reviews-text
  padding-left: 5px
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: normal
    size: 13px
  line-height: 18px
  color: rgba(31, 32, 65, 0.5)