div.dropdown-wide
  input.dropdown-wide__input.dropdown-wide__input_border-bottom(type="number" placeholder="Сколько гостей")
  div.dropdown-wide__table
    h2.dropdown-wide__title взрослые
    div.dropdown-wide__circle
      span.dropdown-wide__less-sign -
    div.dropdown-wide__block
      span.dropdown-wide__number 0
    div.dropdown-wide__circle
      span.dropdown-wide__more-sign +
    h2.dropdown-wide__title дети
    div.dropdown-wide__circle
      span.dropdown-wide__less-sign -
    div.dropdown-wide__block
      span.dropdown-wide__number 0
    div.dropdown-wide__circle
      span.dropdown-wide__more-sign +
    h2.dropdown-wide__title младенцы
    div.dropdown-wide__circle
      span.dropdown-wide__less-sign -
    div.dropdown-wide__block
      span.dropdown-wide__number 0
    div.dropdown-wide__circle
      span.dropdown-wide__more-sign +
    span.dropdown-wide__clear очистить
    span.dropdown-wide__apply применить