include ../mixin-checkbox-buttons/mixin-checkbox-buttons.pug
div.rich-heckbox-buttons
  +checkbox-buttons("Широкий коридор")(class="checkbox-label checkbox-label_color-black")
  span.rich-heckbox-buttons__text Ширина коридоров в номере не менее 91 см.
  +checkbox-buttons("Помощник для инвалидов")(class="checkbox-label checkbox-label_color-black")
  span.rich-heckbox-buttons__text.rich-heckbox-buttons__text_width-more На 1 этаже вас встретит специалист  и проводит до номера.
