div.page-login
  div.page-login-header-wrapper
    include ../header/header.pug
  div.page-login-form-login-wrapper
    include ../form-login/form-login.pug
footer.page-login-navigation-footer-wrapper
  div.page-login-navigation-footer-block
    include ../navigation-footer/navigation-footer.pug
footer.page-login-footer-full-wrapper
  include ../footer-full/footer-full.pug