.page-login
  display: grid
  grid-template-columns: repeat(20, 5%)
  grid-template-rows: repeat(20, 5%)
  max-width: 1920px
  min-width: 320px
  background-image: url("modules/page-login/img/background-page-login.jpg")
  height: 771px

.page-login-header-wrapper
  position: absolute
  width: 100%

.page-login-form-login-wrapper
  grid-column: 8/13
  grid-row: 7/16
  width: 400px
  height: 400px
  margin: 
    top: 11px
    left: 32px

.page-login-navigation-footer-wrapper
  margin-top: 1px
  
.page-login-footer-full-wrapper
  border-top: 1px solid rgba(31, 32, 65, 0.01)