mixin like-button(srct, number)
  div.like-button.like-button_not-active-color.js-like-button
    img.like-button__img(src=srct alt="img")
    div.like-button__number.like-button__number_not-active-color.js-like-button__number= number