.wide-button
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius: 22px
  width: 320px
  height: 44px
  font:
    family: 'Montserrat' , Arial, sans-serif
    style: normal
    weight: bold
    size: 12px
  line-height: 15px
  text-align: center
  text-transform: uppercase
  color: #FFFFFF
  border: none
.wide-button:hover
  opacity: 0.5
.wide-button-block
  display: inline-block
  position: relative

.wide-button-block::after
  position: absolute
  content: url(../src/modules/mixin-wide-button/img/arrow_forward_white.png)
  cursor: pointer
  right: 15px
  top: 12px