doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link rel="icon" href="src/favicon.ico" /> 
    title Document
  body
    div.landing-page
      div.landing-page-header-wrapper
        include ../../all-header/header/header.pug
      div.landing-page-number-selection-wrapper
        include ../../number-selection/number-selection.pug
      div.landing-page-title-wrapper
        span.landing-page-title Лучшие номера для вашей работы, отдыха и просто вдохновения
    include ../../all-footer/navigation-footer/navigation-footer.pug
    footer.landing-page-footer-full-wrapper
      include ../../all-footer/footer-full/footer-full.pug